@page
@using StainedGlass.Transfer.DTOs
@* @model StainedGlass.Transfer.DTOs.ChurchDTO *@

@{
    Layout = "_AdminLayout";
    var sanctuaryRegions = ViewBag.SanctuaryRegions as List<SanctuaryRegionDTO>;
    var relatedItems = ViewBag.RelatedItems as List<ItemDTO>;
    var itemTypes = ViewBag.ItemTypes as List<ItemTypeDTO>;
    bool submitDisabled = false;
}
<h2 style="display: inline-block;">Adding a new Item</h2>
<br>
<form action="/item" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="Title" required class="form-control" id="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="title">Slug</label>
        <input type="text" name="Slug" required class="form-control" id="slug" placeholder="Slug">
    </div>
    <br>
    <div class="form-group">
        <label for="text">Description</label>
        <textarea class="form-control" name="Description" required id="description" rows="6"></textarea>
    </div>
    <br/>
    <div class="form-group" id="imagesbundles">
        <label>Images</label>
        <br/>
        <input type="file" name="ItemImages" multiple required class="form-control-file" accept=".jpg, .jpeg">
    </div>
    <br/>
    <div class="form-group">
        <label for="title">Sanctuary Region</label>
        <br/>
        <select class="custom-select" id="parentSlug" data-type="sanctuary region" required name="SanctuaryRegionSlug">
            @if (sanctuaryRegions.Count > 0)
            {
                <option selected value="0">Choose...</option>
                @foreach (var sanctuaryRegion in sanctuaryRegions)
                {
                    <option value="@sanctuaryRegion.Slug">@sanctuaryRegion.Name</option>
                }
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    There are no sanctuary regions available. You need to create one first!
                </div>
            }
        </select>
    </div>
    <br/>
    <div class="form-group">
        <label for="title">Position</label>
        <br/>
        <div id="positionContainer" class="position-image-container crosshair"></div>
        <input type="hidden" name="Position" id="positionInput">
    </div>
    <br/>
    <div class="form-group">
        <label>ItemType</label>
        <br/>
        @if (itemTypes.Count > 0)
        {
            <select class="custom-select" id="itemTypeSelect" data-type="item type" required name="ItemTypeSlug">
                <option selected value="0">Choose...</option>
                @foreach (var itemType in itemTypes)
                {
                    <option value="@itemType.Slug">@itemType.Name</option>
                }
            </select>
        }
        else
        {
            submitDisabled = true;
            <div class="alert alert-danger" role="alert">
                There are no item types available. You need to create one first!
            </div>
        }
    </div>
    <br/>
    <div class="form-group">
        <label for="title">Related Items</label>
        <br/>
        <select class="custom-select" id="relatedItemsSelect" data-type="related items" multiple name="RelatedItemsSlugs">
            @if (sanctuaryRegions.Count > 0)
            {
                @foreach (var relatedItem in relatedItems)
                {
                    <option value="@relatedItem.Slug">@relatedItem.Title</option>
                }
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    There are no sanctuary regions available. You need to create one first!
                </div>
            }
        </select>
    </div>
    <br/>
    @if (submitDisabled)
    {
        <button type="submit" disabled class="btn btn-primary">Submit</button>
    }
    else
    {
        <button type="submit" class="btn btn-primary">Submit</button>
    }
</form>
<div style="display:none;" id="parentImages">
    @if(ViewBag.SanctuaryRegionsImages != null)
    {
        @foreach (var kvp in ViewBag.SanctuaryRegionsImages)
        {
            <p class="@kvp.Key">@kvp.Value</p>
        }
    }
</div>