@page
@model IndexModel
@{
    ViewData["Title"] = "Sanctuary Map";
}
<div id="mapContent" class="inline-block">
    <h3>@Model.Church.Name</h3>
    <div class="inline-block relative" id="map">
        <img src="data:image/jpeg;base64,@Model.ChurchImage" alt="@Model.Church.Name Sanctuary Map" class="w-full">
        @if (Model.Church.Sides.Count > 0)
        {
            foreach (var sanctuarySide in Model.Church.Sides)
            {
                <div
                    class="absolute flex items-center justify-center 
                text-2xl cursor-pointer font-bold border-4 border-black 
                rounded side"
                    style="@sanctuarySide.Position"
                    data-type="@sanctuarySide.Slug">
                    @sanctuarySide.Name
                </div>
            }
        }
    </div>
</div>
