@page
@using StainedGlass.Transfer.DTOs
@* @model StainedGlass.Transfer.DTOs.ChurchDTO; *@

@{
    Layout = "_AdminLayout";
    var aboutUrl = Url.Action("All", "SanctuaryRegion");
    var sanctuarySides = ViewBag.Churches as List<SanctuarySideDTO>;
}

<h2>SanctuaryRegion @ViewBag.SanctuaryRegion.Slug</h2>

<form action="" method="post" id="editForm" data-slug="@ViewBag.SanctuaryRegion.Slug" data-redirect-url="@aboutUrl" enctype="multipart/form-data">
    <div class="form-group">
        <label for="title">Name</label>
        <input type="text" name="Name" required value="@ViewBag.SanctuaryRegion.Name" class="form-control" id="name" placeholder="Name">
    </div>
    <br>
    <div class="form-group">
        <label for="text">Description</label>
        <textarea class="form-control" name="Description" required id="description" rows="6">@ViewBag.SanctuaryRegion.Description</textarea>
    </div>
    <div class="form-group">
        <label for="title">Sanctuary side</label>
        <br/>
        <select class="custom-select" id="parentSlug" data-type="sanctuary side" required name="ChurchSlug">

            @foreach (var sanctuarySide in sanctuarySides)
            {
                @if (sanctuarySide.Slug.Equals(ViewBag.SanctuaryRegion.SanctuarySideSlug))
                {
                    <option selected value="@sanctuarySide.Slug">@sanctuarySide.Name</option>
                }
                else
                {
                    <option value="@sanctuarySide.Slug">@sanctuarySide.Name</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="image">Image</label>
        @if (ViewBag.SanctuaryRegionImage != null)
        {
        <br><img width="150px" src="data:image/jpeg;base64,@ViewBag.ChurchImage" alt="Church @ViewBag.SanctuaryRegion.Name Image" /><br/>
        }
        <input type="file" name="Image" accept=".jpg, .jpeg" class="form-control-file" id="image">
        @* <span asp-validation-for="Image" class="text-danger"></span> *@
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>