@page

@{
    Layout = "_AdminLayout";
}

<h2>Sanctuary Side @ViewBag.SanctuarySide.Slug</h2>

<dl>
    <dt>Name:</dt>
    <dd>@ViewBag.SanctuarySide.Name</dd>
    <dt>Church:</dt>
    <dd>@ViewBag.SanctuarySide.Church.Name</dd>
    <dt>Position:</dt>
    <dd>
        @if (ViewBag.ChurchImage != null)
        {
            <div class="position-image-container">
                <img width="150px" src="data:image/jpeg;base64,@ViewBag.ChurchImage" alt="Church @ViewBag.SanctuarySide.Church.Name Image" />
                <i class="bi bi-asterisk" style="position: absolute; @ViewBag.SanctuarySide.Position"></i>
            </div>
        }
    </dd>
</dl>